body {
	background-color: white;
	margin: 0;
	padding: 0;
}
#container {
	display: block;
	background-color: #f2f2f2;
	box-shadow: 10px 5px 10px 5px Lightgrey;
	height: 200px;
}
.img-1 {
	padding: 5px;
	margin: 0 100px 0 100px;
}
.userimg {
	display: inline-block;
	float: right;
	padding: 10px;
	margin: 0 100px 0 100px;
	margin-top: -230px;
}
h2 {
	margin-left: -10px;
	margin-top: 76px;
	padding: 15px;
}
.img-2 {
	margin-left: 200px;
	margin-top: -106px;
	padding: 15px;
	border-radius: 80px;
}
/* Custom, iPhone Retina */
 @media only screen and (max-width : 320px) {
 		#container {
 			display: block;
			background-color: #f2f2f2;
			box-shadow: 10px 5px 10px 5px Lightgrey;
			height: 200px;
 		}
 		body {
			background-color: white;
			margin: 0;
			padding: 0;
		}
		#top-nav {
			display: inline-block;
			background-color: #f2f2f2;
			width: 350px;
			box-sizing: border-box;
			box-shadow: 10px 5px 10px 5px Lightgrey;
			margin-top: 14px;
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width: 480px) {
    	#container {
 			display: block;
			background-color: #f2f2f2;
			box-shadow: 10px 5px 10px 5px Lightgrey;
			height: 200px;
 		}
 		body {
			background-color: white;
			margin: 0;
			padding: 0;
		}
		#top-nav {
			display: inline-block;
			background-color: #f2f2f2;
			width: 350px;
			box-sizing: border-box;
			box-shadow: 10px 5px 10px 5px Lightgrey;
			margin-top: 14px;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	#container {
 			display: block;
			background-color: #f2f2f2;
			box-shadow: 10px 5px 10px 5px Lightgrey;
			height: 200px;
 		}
    	body {
			background-color: white;
			margin: 0;
			padding: 0;
		}
		#top-nav {
			display: inline-block;
			background-color: #f2f2f2;
			width: 350px;
			box-sizing: border-box;
			box-shadow: 10px 5px 10px 5px Lightgrey;
			margin-top: 14px;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	#container {
 			display: block;
			background-color: #f2f2f2;
			box-shadow: 10px 5px 10px 5px Lightgrey;
			height: 200px;
 		}
 		body {
			background-color: white;
			margin: 0;
			padding: 0;
		}
		#top-nav {
			display: inline-block;
			background-color: #f2f2f2;
			width: 350px;
			box-sizing: border-box;
			box-shadow: 10px 5px 10px 5px Lightgrey;
			margin-top: 14px;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    	#container {
 			display: block;
			background-color: #f2f2f2;
			box-shadow: 10px 5px 10px 5px Lightgrey;
			height: 200px;
 		}
    	body {
			background-color: white;
			margin: 0;
			padding: 0;
		}
		#top-nav {
			display: inline-block;
			background-color: #f2f2f2;
			width: 350px;
			box-sizing: border-box;
			box-shadow: 10px 5px 10px 5px Lightgrey;
			margin-top: 14px;
		}
    }
#top-nav {
	display: inline-block;
	background-color: #f2f2f2;
	width: 350px;
	box-sizing: border-box;
	box-shadow: 10px 5px 10px 5px Lightgrey;
	margin-top: 14px;
}
.topnav li {
	list-style-type: none;
	padding: 10px;
}
li a {
	text-decoration: none;
	color: black;
}
h1 {
	padding: 15px;
	margin-left: 45px;
}
#frames {
	margin-left: 550px;
	margin-top: -640px;
	padding: 14px;
}